/* ==================== EXTRATO ==================*/


.tabela {
    width: 80%;
    text-align: center;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    &__cabecalho {


        &__conteudo {
            padding: 10px;
            border-bottom: 2px solid #2196F3;
        }
    }

    &__linha {
        margin-bottom: 10px;
        border-radius: 4px;


        &:last-child {
            .tabela__conteudo {
                border-bottom: none;
            }
        }
    }

    &__conteudo {
        padding: 10px;
        border-bottom: 1px solid;
    }



    /* ==================== LINHA TOTAL ==================*/

    &__linhatotal {
        margin-top: 10px;
        padding: 5rem;
        border-radius: 4px;



        &:last-child {
            .tabela__conteudototal {
                border-bottom: none;
            }
        }
    }

    &__conteudototal {
        padding: 2rem;
        border-bottom: 10px solid;
        font-size: 20px;
        font-weight: 600;
    }

}