<table class="tabela">
    <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Cliente</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela__cabecalho__conteudo">Forma Pagamento</th>
    </thead>

    <tbody>
        <tr class="tabela__linha" *ngFor="let venda of vendas; let idVendaNoArray = index">
            <td class="tabela__conteudo">{{ venda.data | date: "short" }}</td>
            <td class="tabela__conteudo">{{ venda.cliente }}</td>
            <td class="tabela__conteudo">{{ venda.valor | currency }}</td>
            <td class="tabela__conteudo">{{ venda.formaPagamento }}</td>
            <button mat-icon-button color="primary" (click)="editarVenda(idVendaNoArray, venda)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="excluirVenda(idVendaNoArray)">
                <mat-icon>delete</mat-icon>
            </button>
        </tr>
        <tr class="tabela__linhatotal">
            <td class="tabela__conteudototal">TOTAL</td>
            <td class="tabela__conteudototal">--</td>
            <td class="tabela__conteudototal">{{ getValorTotal() | currency }}</td>
            <td class="tabela__conteudototal">--</td>
        </tr>
    </tbody>
</table>