<div class="row">
  <mat-card>
    <mat-toolbar color="primary">Lançar Venda</mat-toolbar>

    <form [formGroup]="formVenda" #formDir="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Nome Cliente</mat-label>
        <input matInput formControlName="cliente" placeholder="Nome Cliente" />
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Valor da Venda</mat-label>
        <input matInput formControlName="valor" type="number" placeholder="Valor da Venda" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Forma de Pagamento</mat-label>
        <mat-select formControlName="formaPagamento">
          <mat-option value="Pix Marcus">Pix Marcus</mat-option>
          <mat-option value="Pix Angela">Pix Angela</mat-option>
          <mat-option value="Rede">Rede</mat-option>
          <mat-option value="Cielo">Cielo</mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="!editavel" (click)="lancaVenda()" mat-raised-button color="primary">
        Lançar Venda
      </button>
      <button *ngIf="editavel" (click)="alterarVenda()" type="submit" mat-raised-button color="primary">
        Alterar Venda
      </button>
    </form>
  </mat-card>
  <br />
</div>

<mat-divider></mat-divider>

<app-extrato #extrato [vendas]="vendas" (onExcluirVenda)="excluirVenda($event)" (onEditarVenda)="editarVenda($event) "></app-extrato>
