.row {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 33%;
  padding: 1rem;
}

mat-card {
  width: 40%;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;


}

mat-form-field {
  width: 100%;
  margin-top: 1rem;
}

